.list-item{
    border: 1px solid #ccc;
    margin:0;
}
.item-title{
    cursor: pointer;
    padding: 1% 2%;
    margin:0;
    transition: all 0.2s 0s ease-in-out;
}
.item-title:hover, .item-title.active{
    background-color: rgb(46, 46, 46);
    color: white;
}

.item-title:hover~.list-item, .item-title.active~.list-item{
    border-top: none;
}

.item-body{
    display: flex;
    flex-direction: row;
}

.item-logo, .item-content{
    flex: 1;
    padding: 1%;
}

.item-logo>img{
    max-width: 100%;
    height: auto;
}

.item-counter>span{
    font-weight: bold;
}
.item-label{
    font-weight: bold;
}
.item-btn{
    text-decoration: none;
    color: white;
    background-color: darkorange;
    padding: 1% 2%;
}

.item-btn:visited{
    text-decoration: none;
    color: white;
}